$yellow:        #ece810;
$dark-yelllow:  #d1c829;
$light-blue:    #00b0ce;
$middle-blue:   #1b8cae;
$dark-blue:     #0f7da2;

$anim-time-highlight:   .2s;   // #1
$anim-time-move:        .7s;   // #2
$anim-delay-highlight:  .9s;   // #3 = #1 + #2
$anim-time-all:        1.1s;   // #4 = #1 + #3


.st0 { fill: $dark-blue; } 
.st1 { fill: $yellow; } 
.st2 { fill: $dark-yelllow; } 

#zongler {

    .separator {
        height: 10px;
        border: none;
    }

    .arch-slider-row {
        h2 {
            font-size: 2.8em;

            .bigger { 
                font-size: 1.57em; 

                @media all and ( min-width: 481px ) { font-size: 1em; }
            }
        }

        .content-col {
            @media all and ( max-width: 480px ) {
                padding-top: 0 !important;
            }
        }
    }

    .arch-slider {
        position: relative;
        height: 120px;
        animation-duration: $anim-time-all;

        @media all and ( max-width: 480px ) {
            margin-top: 30px;
        }

        @media all and ( min-width: 481px ) {
            background: url(http://www.njumobile.pl/b/dep/kuba/zongler-pip-upside-down.png) center top no-repeat; 
            background-size: 40% auto;
            height: 40vw;
        }

        @media all and ( min-width: 831px ) {
            position: relative;
            background: url(http://www.njumobile.pl/b/dep/kuba/zongler-pip.png) center bottom no-repeat; 
            height: 600px;
        }

        @media all and ( min-width: 831px ) and ( max-width: 900px ) {
            background-size: contain;
        }

        ul {
            position: relative;
            list-style-type: none;
            padding: 0;
            margin: 0;

            @media all and ( max-width: 480px ) {
                width: 80%;
                margin: 0 auto;
                overflow: hidden;
                height: 100%;
            }
        }
        
        li {
            display: none;
            width: 100px;
            height: 100px;
            margin-left: -50px;
            top: 5px;
            padding: 0;
            box-sizing: border-box;
            background: #fff;
            box-shadow: 3px 5px 0px 0px $yellow;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            left: 50%;
            transition: all $anim-time-all linear;

            @media all and ( min-width: 481px ) {
                width: 12vw;
                height: 12vw;
                margin-left: -6vw;
                top: 3vw;

                display: block;
                transition: transform   $anim-time-move         $anim-time-highlight    linear,
                            background  $anim-time-highlight    $anim-delay-highlight   linear,
                            width       $anim-time-highlight    $anim-delay-highlight   linear,
                            height      $anim-time-highlight    $anim-delay-highlight   linear,
                            box-shadow  $anim-time-highlight    $anim-delay-highlight   linear,
                            margin      $anim-time-highlight    $anim-delay-highlight   linear;
            }

            @media all and ( min-width: 831px ) {
                width: 7.6vw;
                height: 7.6vw;
                margin-left: -3.8vw;
                top: calc( 18vw + 20px );
            }

            @media all and ( min-width: 1321px ) {
                width: 100px;
                height: 100px;
                margin-left: -50px;
                top: 240px;
            }

            &:after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 100%;
                vertical-align: middle;
            }

            svg {
                max-width: 80%;
                max-height: 80%;
                vertical-align: middle;

                .st0, .st1, .st2 { 
                    transition: fill $anim-time-highlight 0s linear;
                }
            }
            
            &#item-3 {
                @media all and ( max-width: 480px ) {
                    display: block;
                    transform: translate(50vw) rotate(720deg);
                }
            } 
            &#item-5 {
                @media all and ( max-width: 480px ) {
                    display: block;
                    transform: translate(-50vw) rotate(-720deg);
                }
            }
            &#item-4 {
                @media all and ( max-width: 480px ) {
                    display: block;
                    transform: translate(0) rotate( 0deg);
                }

                @media all and ( min-width: 481px ) {
                    width: 15vw;
                    height: 15vw;
                    margin-left: -7.5vw;

                    background: $yellow;
                    box-shadow: 3px 5px 0px 0px $dark-blue;

                    svg {
                        .st0, .st1, .st2 { transition: fill $anim-time-highlight $anim-delay-highlight linear; }
                        .st0, .st1 { fill: $light-blue; }
                        .st2 {  fill: $middle-blue; }
                    }
                }

                @media all and ( min-width: 831px ) {
                    width: 8.7vw;
                    height: 8.7vw;
                    margin-left: -4.35vw;
                }

                @media all and ( min-width: 1321px ) {
                    width: 115px;
                    height: 115px;
                    margin-left: -57px;
                }
            }

            &.next {
                transition: transform   $anim-time-move         $anim-time-highlight    linear,
                            background  $anim-time-highlight    0s                      linear,
                            width       $anim-time-highlight    0s                      linear,
                            height      $anim-time-highlight    0s                      linear,
                            box-shadow  $anim-time-highlight    0s                      linear,
                            margin      $anim-time-highlight    0s                      linear;
            }

            &.back-to-start {
                @media all and ( min-width:  481px ) { animation: back-to-start-mobile $anim-delay-highlight linear; }
                @media all and ( min-width:  831px ) { animation: back-to-start-rwd $anim-delay-highlight linear; }
                @media all and ( min-width: 1321px ) { animation: back-to-start $anim-time-all linear; }
            }

            &.back-to-end {
                @media all and ( min-width:  481px ) { animation: back-to-end-mobile $anim-delay-highlight linear; }
                @media all and ( min-width:  831px ) { animation: back-to-end-rwd $anim-delay-highlight linear; }
                @media all and ( min-width: 1321px ) { animation: back-to-end $anim-time-all linear;}
            }

            &#item-1 { 
                @media all and ( min-width:  481px ) { transform: rotate(  0deg) translate(  -39vw) rotate( 0deg); }
                @media all and ( min-width:  831px ) { transform: rotate(-25deg) translate(-20.1vw) rotate(25deg); }  
                @media all and ( min-width: 1321px ) { transform: rotate(-25deg) translate( -265px) rotate(25deg); }
            }
            &#item-2 { 
                @media all and ( min-width:  481px ) { transform: rotate(-23deg) translate(  -34vw) rotate( 23deg); }
                @media all and ( min-width:  831px ) { transform: rotate( 10deg) translate(-18.2vw) rotate(-10deg); }  
                @media all and ( min-width: 1321px ) { transform: rotate( 10deg) translate( -240px) rotate(-10deg); }
            }
            &#item-3 { 
                @media all and ( min-width:  481px ) { transform: rotate(-50deg) translate(  -27vw) rotate( 50deg); }
                @media all and ( min-width:  831px ) { transform: rotate( 49deg) translate(-17.4vw) rotate(-49deg); }  
                @media all and ( min-width: 1321px ) { transform: rotate( 49deg) translate( -230px) rotate(-49deg); }
            }
            &#item-4 { 
                @media all and ( min-width:  481px ) { transform: rotate(-90deg) translate(  -22vw) rotate( 90deg); }
                @media all and ( min-width:  831px ) { transform: rotate( 90deg) translate(-16.7vw) rotate(-90deg); } 
                @media all and ( min-width: 1321px ) { transform: rotate( 90deg) translate( -220px) rotate(-90deg); } 
            }
            &#item-5 {  
                @media all and ( min-width:  481px ) { transform: rotate(-130deg) translate(  -27vw) rotate( 130deg); } 
                @media all and ( min-width:  831px ) { transform: rotate( 131deg) translate(-17.4vw) rotate(-133deg); }
                @media all and ( min-width: 1321px ) { transform: rotate( 133deg) translate( -230px) rotate(-133deg); }
            }
            &#item-6 { 
                @media all and ( min-width:  481px ) { transform: rotate(-157deg) translate(  -34vw) rotate( 157deg); } 
                @media all and ( min-width:  831px ) { transform: rotate( 170deg) translate(-18.2vw) rotate(-170deg); } 
                @media all and ( min-width: 1321px ) { transform: rotate( 170deg) translate( -240px) rotate(-170deg); }
            }
            &#item-7 { 
                @media all and ( min-width:  481px ) { transform: rotate(-180deg) translate(  -39vw) rotate( 180deg); }
                @media all and ( min-width:  831px ) { transform: rotate( 205deg) translate(-20.1vw) rotate(-205deg); }  
                @media all and ( min-width: 1321px ) { transform: rotate( 205deg) translate( -265px) rotate(-205deg); }
            }
        }

        .arrow {
            position: absolute;
            bottom: 0;

            &:hover { color: $yellow; }

            &:after {
                display: block;
                width: 110px;
                height: 110px;
                margin: 0 20px;
                box-sizing: border-box;
                text-decoration: none;
                text-align: center;
                font: 400 50px/110px "fontello";
                color: $dark-blue;
            
                @media all and ( max-width: 1320px ) {
                    width: 7vw;
                    height: 9vw;
                    line-height: 9vw;
                    margin: 0;
                }

                @media all and ( max-width: 480px ) {
                    width: 10%;
                    height: 110px;
                    line-height: 110px;
                }
            }

            &.left {
                left: 0;

                &:after { content: '\E814'; }
            }
            &.right {
                right: 0;

                &:after { content: '\E815'; }
            }

            span {
                font-size: 0;
                line-height: 0;
            }
        }
    }

    .arch-slider-content {
        position: relative;
        overflow: hidden;

        .arch-slider-slide {
            width: 100%;
            margin-left: -100%;
            position: absolute;

            &:nth-child(4) { margin-left: 0; }
        }

        h3 {
            padding: 10px 0;
        }
    }

    .arch-slider-dots {
        margin-top: 30px;
        font-size: 0;
        line-height: 0;

        &>div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
            display: inline-block;
            margin: 0 3px;
            cursor: pointer;
            transition: all .5s;

            &.active {
                background: $yellow;
            transition: all .5s;
            }
        }
    }

    .btn-big {
        font-size: 1.5em; 
        padding: 20px 40px 15px !important;
        box-sizing: border-box;
    }
}

@keyframes back-to-start {
    0%   { transform: rotate(205deg) translate(-265px) rotate(-205deg); }
    50%  { transform: rotate(90deg)  translate(-50px) rotate(90deg); }
    100% { transform: rotate(-25deg) translate(-265px) rotate(385deg); }
}

@keyframes back-to-end {
    0%   { transform: rotate(-25deg) translate(-265px) rotate(385deg); }
    50%  { transform: rotate(90deg)  translate(-50px) rotate(90deg); }
    100% { transform: rotate(205deg) translate(-265px) rotate(-205deg); }
}

@keyframes back-to-start-rwd {
    0%   { transform: rotate(205deg) translate(-20.1vw) rotate(-205deg) rotate(-45deg) translate(-25.77vw) rotate(90deg) translate(0, -25.77vw) rotate(-45deg); }
    100% { transform: rotate(205deg) translate(-20.1vw) rotate(-205deg) rotate(-45deg) translate(-25.77vw) rotate( 0deg) translate(0, -25.77vw) rotate(410deg); }
}

@keyframes back-to-end-rwd {
    0%   { transform: rotate(-25deg) translate(-20.1vw) rotate(25deg) rotate(45deg) translate(25.77vw) rotate(-90deg) translate(0, -25.77vw) rotate( 45deg); }
    100% { transform: rotate(-25deg) translate(-20.1vw) rotate(25deg) rotate(45deg) translate(25.77vw) rotate(  0deg) translate(0, -25.77vw) rotate(315deg); }
}

@keyframes back-to-start-mobile {
    0%   { transform: rotate(180deg) translate(-39vw) rotate(180deg); }
    100% { transform: rotate(0deg) translate(-39vw) rotate(0deg); }
}

@keyframes back-to-end-mobile {
    0%   { transform: rotate(0deg) translate(-39vw) rotate(0deg); }
    100% { transform: rotate(180deg) translate(-39vw) rotate(180deg); }
}