@import '../variables.scss';

.works {
    padding-bottom: 0;

    h2 {
        color: #eee;
        text-align: center;
        margin-bottom: 60px;
    }

    &_item {
        $border-color: $color-accent;
        $border-width: 1px;
        position: relative;

        &_content {
            padding: 40px 0;
            min-height: 80vh;
            display: grid;
            grid-gap: 20px;
            opacity: 0;
            transition: all .5s;

            &.visible {
                opacity: 1;
                transform: translate(0) !important;
            }

            @media (max-width: 1099px) {
                align-content: center;
            }
        }

        @media (min-width: 1100px) {
            &_content {
                grid-template-columns: repeat(8, 1fr);
            }

            &_info {
                grid-column: 1 / 4;
            }

            &_children {
                grid-column: 4 / 9;
            }

            &:nth-child(2n) {
                .works_item_info {
                    grid-column: 6 / 9;
                    grid-row: 1 / 2;
                }

                .works_item_children {
                    grid-column: 1 / 6;
                    grid-row: 1 / 2;
                }
            }
        }

        &_info {
            position: relative;
            z-index: 2;
            background: #bbbe;
            padding: 40px;
            box-shadow: 0 0 20px 5px #0001;
            align-self: center;

            h3 {
                margin-top: 0;
            }

            @media (max-width: 568px) {
                padding: 20px;
            }
        }

        &_used [data-text] {
            width: 40px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin: 10px 10px 10px 0;

            &[data-text="styled-components"] {
                width: 50px;
            }

            &[data-text="jQuery"] {
                width: 80px;
            }

            &[data-text="Mustache.js"] {
                width: 60px;
            }

            &:hover {

                &:after {
                    content: attr(data-text);
                    display: block;
                    background: #fff;
                    position: absolute;
                    bottom: 80%;
                    left: 50%;
                    transform: translate(-50%);
                    padding: 5px;
                    box-shadow: 0 0 5px 0 #0004;
                }

                img {
                    filter: grayscale(0);
                }
            }

            img {
                filter: grayscale(1);
                transition: all .3s;
            }
        }

        &_children {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            border-top: $border-width solid $border-color;
        }

        &:nth-child(4n+1):before {
            width: 75%;
            left: 12.5%;
            border-left: $border-width solid $border-color;
        }

        &:nth-child(4n+2):before {
            width: 62.5%;
            left: 12.5%;
            border-right: $border-width solid $border-color;
        }

        &:nth-child(4n+3):before {
            width: 50%;
            left: 25%;
            border-left: $border-width solid $border-color;
        }

        &:nth-child(4n):before {
            width: 62.5%;
            left: 25%;
            border-right: $border-width solid $border-color;
        }

        &:nth-child(2n+1) .works_item_content {
            transform: translate(150%);
        }

        &:nth-child(2n) .works_item_content {
            transform: translate(-150%);
        }

    }
}

.holi-content {
    background: #fff;
    display: grid;
    padding: 60px;
    gap: 40px;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.banner-box {
    max-width: 750px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;

    &:before {
        content: '';
        display: inline-block;
        padding-top: 13.33333%;
    }

    video {
        position: absolute;
        top: 0;
    }
}