* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

body {
  margin: 0;
  font: normal 300 1rem/1.25 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img, video {
  max-width: 100%;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

section {
  padding: 40px;
}

h1, h2 {
  font-family: 'Meddon', cursive;
}

.text-left {
  text-align: left;
}

@media (max-width: 767px) {
  
  section {
    padding: 40px 20px;
  }
}