body {
  margin: 0;
  font: normal 300 1rem/1.25 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img, video, iframe {
  max-width: 100%;
}
