* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: normal 300 1rem/1.25 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img, video {
  max-width: 100%;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

section {
  padding: 40px;
}

h1, h2 {
  /* font-family:, Elsie, 'Cinzel Decorative', 'Vampiro One', cursive;
  font-family: 'Amatic SC', cursive; */
  font-family: 'Homemade Apple', cursive;
  font-family: 'League Script', cursive;
  font-family: 'Meddon', cursive;
}

.text-left {
  text-align: left;
}